
<div class="content">
  <!-- Main UI Component is Angular Card-->
  <mat-card class="form">  
    <!-- Card Header --> 
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div> 
      <h1>Test Form</h1>
    </mat-card-header>  

    <!-- Card Content -->
    <mat-card-content  class="cardContent">
      <h1>Centers</h1>
      <table>
        <tr *ngFor="let center of centers">
          <td>
            {{center.code}}
          </td>
          <td>
            {{center.name}}
          </td>
          <td>
            {{center.descr}}
          </td>
        </tr>
      </table>
      <h1>Accounts</h1>
      <table>
        <tr *ngFor="let account of accounts">
          <td>
            {{account.code}}
          </td>
          <td>
            {{account.name}}
          </td>
          <td>
            {{account.descr}}
          </td>
        </tr>
      </table>
    </mat-card-content>
    
  </mat-card> 
</div>